.container {
  background: #ffffff;
  height: 500px;
  width: clamp(250px, 50%, 318px);
  border-radius: 2px;
  position: fixed;
  left: 100px;
  top: 48px;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 18px;
  font-weight: 400;
  padding: 24px 0 0 24px;
}

.menu {
  margin-top: 16px;
}

.list {
  height: 45px;
  width: 100%;
  display: flex;
  padding-left: 48px;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease-in;
  font-weight: 500;
}

.list_active {
  background-color: #fafafa;
}

.link {
  color: #71717a;
}

.link_active {
  color: #f97316;
}

.menu_icon {
  display: none;
}

@media (max-width: 1350px) {
  .container {
    width: 100%;
    top: 0px;
    left: 0px;
    height: auto;
  }
  .menu {
    display: none;
  }
  .menu_active {
    display: block;
  }

  .header {
    padding: unset;
  }

  .container_header {
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    cursor: pointer;
    transition: width 0.3s ease-in;
  }

  .menu_icon span {
    width: 25px;
    height: 3px;
    background-color: black;
  }

  .menu_icon .hamburger_middle {
    width: 15px;
  }
}
